// ==========================
// COLORS
// ==========================
// Theme colors
$accentprim: #31df31;            // Primary accent
$accentsec: #023a03;             // Secondary accent
$bg-prim: #000b00;               // Primary theme background
$bg-glassy: #11311d;             // Transparent background color


// ==========================
// EFFECTS & SHADOWS
// ==========================



// ==========================
// SIZING / SPACING / TYPOGRAPHY
// ==========================

// Paddings / margins


// Font sizes


// Border widths


// Breakpoints
$breakpoints: (xs: 0, sm: 600px, md: 900px, lg:1200px, xl: 1850px);

