@use "../abstracts/" as *;



body {
    background-color: $acc-100;
    display: flex;
    flex-direction: column;
    align-items:center;

    &::before {
        position: absolute;
        content: "";
        height:max(600px, 30vh);
        width:100vw;
        background: linear-gradient(-6deg, transparent 350px, $acc-700 350px);
        z-index:-1;
    }
}


main, footer {
 @include responsive(padding, (xs: $xs-pd $s-pd, sm:$s-pd $m-pd, md:$l-pd $xl-pd));
}

section {
    margin:$m-pd 0;
}

#section_about {
    img {
        max-height:350px;
    }

    .about_content {
        position: relative;
        top:$m-pd;
        @include responsive(padding, (xs:$m-pd));
        background-color: $offwhite;
        height: fit-content;
        max-width:80ch;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.395);

    }

    .icon_contacts {
        --icon-size: 25px;
        float: right;
        gap:$m-pd;
    }
}


#section_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    width:100vw;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {

    #section_about, footer {
        flex-direction:column;
    }

}

@media screen and (max-width:900px) {

    #section_work {

        & > h1 {
            align-self: flex-start;
        }
        display: flex;
        flex-direction:column;
        align-items:center;
    }

}